.nav {
  z-index: 10;
  position: fixed;
  top: 40px;
  right: 70px;
}

.nav ul {
  width: max-content;
  background-color: #202020;
  display: flex;
  justify-content: space-between;
  padding: 3px;
  border-radius: 57px;
  box-shadow: 0 0 0 1px white;
}

.nav li {
  cursor: pointer;
  width: max-content;
  height: max-content;
  list-style-type: none;
}

.nav a {
  display: flex;
  height: 48px;
  width: 85px;
  border-radius: 57px;
  font-family: "Libre Barcode 128 Text", cursive;
  font-size: 30px;
  color: white;
  align-items: center;
  justify-content: center;
}

.nav .a_active {
  background-color: white;
  color: #202020;
  animation: a_active 0.5s;
}

@keyframes a_active {
  0% {
    background-color: #202020;
  }
  100% {
    background-color: white;
  }
}
