.workitem {
  font-family: "Noto Sans TC", sans-serif;
  display: grid;
  grid-template-columns: auto 120px;
  grid-template-rows: 270px 62px max-content 0.5px 44px;
  width: 360px;
}

.workitem__title_ntue {
  color: gray;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.8rem;
  max-height: 1.8rem;
  overflow: hidden;
}

.workitem__title_ntut {
  color: #ede;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.8rem;
  max-height: 1.8rem;
  overflow: hidden;
}

.workitem_ntue {
  color: #202020;
}

.workitem_ntut {
  color: white;
}

.link_website {
  display: block;
  width: 100%;
  height: 270px;
  grid-column-start: span 2;
  position: relative;
}

.link_website img {
  width: 100%;
  height: 100%;
}

.mask {
  background-color: rgba(103, 104, 171, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.1s cubic-bezier(0.42, 0, 0.58, 1);
  display: flex;
  justify-content: flex-end;
  padding: 18px 32px;
}

.mask::after {
  content: url(../assets/images/eye.png);
  width: 20px;
  height: 20px;
  opacity: 0;
  transition: all 0.3s 0.1s ease-out;
}

.link_website:hover .mask {
  opacity: 1;
}

.link_website:hover .mask::after {
  opacity: 1;
}

.workitem h3 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  grid-column-start: span 2;
}

.skilllist {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  color: black;
}


.skilllist span {
  margin-right:6px;
  margin-bottom: 6px;
  padding: 5px 12px;
  background-color: #c4c4c4;
  border-radius: 50px;
  display: inline-block;
  text-align: center;
  width: max-content;
  min-width: 30px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
}

.linklist {
  display: grid;
  grid-gap: 9px;
  grid-template-columns: repeat(2, max-content);
  align-items: self-end;
  justify-content: end;
  margin-bottom: 5px;
}

.workitem_ntue .linklist a {
  display: flex;
  align-items: center;
}

.workitem_ntue .linklist a svg {
  color: #202020;
}

.workitem_ntue .linklist a:hover svg {
  color: #5b5b5b;
}

.workitem_ntue .linklist a:active svg {
  color: #6768ab;
}

.workitem_ntut .linklist a svg {
  color: white;
}

.workitem_ntut .linklist a:hover svg {
  color: #b8b8b8;
}

.workitem_ntut .linklist a:active svg {
  color: #b7bcf7;
}

.line {
  grid-column-start: span 2;
  width: 100%;
  height: 0.5px;
  margin: 5px 0 13px;
}

.workitem_ntue .line {
  background-color: rgb(114, 114, 114, 0.5);
}

.workitem_ntut .line {
  background-color: rgba(242, 242, 242, 0.5);
}

.namelist {
  display: flex;
  align-items: center;
}

.namelist span {
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 500;
}

.namelist span:first-child {
  margin-right: 9px;
  font-weight: 300;
}

.workitem_ntue .namelist span {
  color: #202020;
}

.categroy {
  font-size: 14px;
  color: #c4c4c4;
  letter-spacing: 1px;
  text-align: right;
  align-self: center;
}

@media screen and (max-width: 900px) {
  .workitem {
    width: 300px;
    grid-template-rows: 225px 62px max-content 0.5px 44px;
  }

  .link_website {
    height: 225px;
  }
}

@media screen and (max-width: 480px) {
  .workitem h3 {
    font-size: 16px;
  }

  .skilllist span {
    font-size: 12px;
  }

  .linklist svg{
    width: 28px;
  }

  .namelist span {
    font-size: 12px;
  }

  .categroy {
    font-size: 12px;
  }

  .link_website {
    height: 225px;
  }
}
